@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* shared styles */
  .display-flex{
    display: flex;
  }
  .org{
    color: orange;
  }
  .sky-1{
    color: skyblue;
  }
  .sky-2{
    color: #05D4DF;
  }
  .pp-1{
    color: #5D58EF;
  }
  .high{
    background-color: black;
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 12px;
    border: none;
    width: 197px;
    height: 50px; }

    
    main > section{
      margin-top: 130px;
    }
    

  /* img styles */
  
  .btn-primary{
    background-color: orange;
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 12px;
    border: none;
    width: 197px;
    height: 50px;
  } 

  /* navbar  related styles */
  .navbar{
    justify-content: space-between;
    align-items: center;
    max-width: 1440px ;
    margin: 0 auto;
   
    
  }
  .nav-item{
    list-style: none;
    margin-right: 20px;
  }
  .nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
   
  }
  .name{
    font-weight: 700;
    font-size: 2rem;
  }
  .school{
    align-items: center;
  }
  /* banner  */
  .banner{
    
    max-width: 1440px;
    
    margin: 0 auto;
    display: flex;
  
   
  }
  .banner-content{
   max-width: 640px;
     margin-right: 130;
  }
  .banner{
    align-items: center;
    
  }
  .banner-title{
    font-size: 4rem;
    font-weight: 700;
    
    
    
  }
  .banner-image{
   width: 100%; 
  }
  .banner-description{
    font-size: 1.3rem;
  }
  /* Standard Curriculum */
  .sec-1{
    max-width: 1440;
    margin: 0 auto;
    background-image: url('../assets/bg.png');
  background-repeat: no-repeat;
  }
 
  .standard{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   justify-content: space-between;
   align-self:center;
   max-width: 1440px;
   margin: 0 auto;
   margin-top: 20px;
  }
    
  
  .stand-1{
    background: linear-gradient(#DEF5FF, #FFFFFF);

  }
  .stand-2{
    background: linear-gradient(#FFF4DC, #FFFFFF);

  }
  .stand-3{
    background: linear-gradient(#EEE1FF, #FFFFFF);
  }
    
    
    
    
  
  
  .standard-1{
    border: 1px solid #DEF5FF;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 368px;
    height: 476px;
    border-radius: 18px;
    display: flex;
    
    
    
  }
  .satndard-curriculum{
   text-align: center;
  }
  .btn-1{
    border: none;
    color:#6cbee1;
    background-color: white;
    font-weight: 700;
  }
  .btn-2{
    border: none;
    color:#F0AA00;
    background-color: white;
    font-weight: 700;
  }
  .btn-3{
    border: none;
    color:#8700FF;
    background-color: white;
    font-weight: 700;

  }


    
  .pp-1{
    color: #808080;
  }



  /* rosponsive media query */
  @media screen and (max-width: 576px) {
    .banner-image{

    }
    .banner
    {
      flex-direction: column-reverse;
     
      justify-items: center;
     

    }
    .banner-title{
      font-size: 2rem;
      font-weight: 800;
    text-align: center;}
      
      .banner-content{
        max-width: 630px;
        justify-items:center;
       }
       .banner-description{
        text-align: center;
       }
      
    .name,
    .nav-links,
    .btn-primary{
      display: none;
    }
    }
  
 