@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* shared styles */
  .display-flex{
    display: flex;
  }
  .org{
    color: orange;
  }
  .sky-1{
    color: skyblue;
  }
  .sky-2{
    color: #05D4DF;
  }
  .pp-1{
    color: #5D58EF;
  }
  .high{
    background-color: black;
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 12px;
    border: none;
    width: 197px;
    height: 50px; }

    
    main > section{
      margin-top: 130px;
    }
    

  /* img styles */
  
  .btn-primary{
    background-color: orange;
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 12px;
    border: none;
    width: 197px;
    height: 50px;
  } 

  /* navbar  related styles */
  .navbar{
    justify-content: space-between;
    align-items: center;
    max-width: 1440px ;
    margin: 0 auto;
   
    
  }
  .nav-item{
    list-style: none;
    margin-right: 20px;
  }
  .nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
   
  }
  .name{
    font-weight: 700;
    font-size: 2rem;
  }
  .school{
    align-items: center;
  }
  /* banner  */
  .banner{
    
    max-width: 1440px;
    
    margin: 0 auto;
    display: flex;
  
   
  }
  .banner-content{
   max-width: 640px;
     margin-right: 130;
  }
  .banner{
    align-items: center;
    
  }
  .banner-title{
    font-size: 4rem;
    font-weight: 700;
    
    
    
  }
  .banner-image{
   width: 100%; 
  }
  .banner-description{
    font-size: 1.3rem;
  }
  /* Standard Curriculum */
  
    
 
 
  .standard{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   justify-content: space-between;
   align-items:center;
   max-width: 1440px;
   margin: 0 auto;
   margin-top: 20px;
   background-image: url('../assets/bg.png');
  
  }
    
  
  .stand-1{
    background: linear-gradient(#DEF5FF, #FFFFFF);

  }
  .stand-2{
    background: linear-gradient(#FFF4DC, #FFFFFF);

  }
  .stand-3{
    background: linear-gradient(#EEE1FF, #FFFFFF);
  }
    
    
    
    
  
  
  .standard-1{
    border: 1px solid #DEF5FF;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 368px;
    height: 476px;
    border-radius: 18px;
    display: flex;
    
    
    
  }
  .satndard-curriculum{
   text-align: center;
  }
  .btn-1{
    border: none;
    color:#6cbee1;
    background-color: white;
    font-weight: 700;
  }
  .btn-2{
    border: none;
    color:#F0AA00;
    background-color: white;
    font-weight: 700;
  }
  .btn-3{
    border: none;
    color:#8700FF;
    background-color: white;
    font-weight: 700;

  }


    
  .pp-1{
    color: #808080;
  }
  .fa-solid-fa-arrow{
    display: flex;
    width: 60px;
    align-items: center;
  }

  /* our story */
  .img-1{
    width: 100%;
    
    
    
  }
  .Our-Storie{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
  }
  .sec-2{
    background-image: url('../assets/bg.png');
  
    background: linear-gradient( #FFFFFF, #FFF4DC);}
    
  .family{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    
    

  }
  .hero-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 601px;
    max-height: 630px;
    gap: 20px;
    

    
  }
  .A-fun-toddler{
    max-width: 544px;
    max-height: 630px;
   
    border-radius: 10px;
    text-align: center;
    background-color: white;
  }
  .november{
    
    max-width: 290px;
    align-items: center;
    border-radius: 16px;
    text-align: center;
    background-color: white;

  }
  #our-story{
    padding: 25px 20px;
    font-size: 1rem;
    font-weight: 700;
    margin-top: -100px ;
    margin-left: -120px;
    border: none;
    background-color: #3CD8E8;
    border-radius: 47px;
    color: white;
    position: relative; left: 20px;;
    
   
  }
  .family-1{
    font-weight: 700;
    font-size: 1.5rem;
  }
  .beautiful{
    font-size: 0.9rem;
    font-weight: 500;
  }
  .november img{
    width: 100%;
  }
  #our-story-1{
   padding: 15px 30px ;
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: -400px ;
    margin-left: -100px;
    border: none;
    background-color: #3ce88f;
    border-radius: 47px;
    color: white;
   
    
  }
  .View-All{

justify-content: space-between;
align-items: center;
    
  }



  /* rosponsive media query */
  @media screen and (max-width: 576px) {
    .banner-image{

    }
    .banner
    {
      flex-direction: column-reverse;
     
      justify-items: center;
     

    }
    .banner-title{
      font-size: 2rem;
      font-weight: 800;
    text-align: center;}
      
      .banner-content{
        max-width: 630px;
        justify-items:center;
       }
       .banner-description{
        text-align: center;
       }
      
    .name,
    .nav-links,
    .btn-primary{
      display: none;
    }
    }
  
 